body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:rgb(255, 255, 255);
}

.ciudad {
    width: 600px;
    position: absolute;
    left: 12%;
    top: 150px;
}

.menu {
    background-color: #ffffff;
    padding: 10px;
    border-bottom: 2px solid #ffcf11;
}
.menu img {
    left: 8%;
    top: 2%;
    width: 200px;
    position: absolute;
}
.menu ul {
    color: #000000;
    font-size: 14px;
    text-align: end;
}
 
.menu ul li {
    display: inline-block;
    margin-right: 10%;
 }
 
.menu ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
 }
 
.menu ul li .rojo:hover {
    color: #fff;
    background-color: #f2163e;
    transition: 0.30s;
 }


.menu ul li .amarillo:hover {
    color: #ffffff;
    background-color: #ffcf11;
    transition: 0.30s;
 }

.menu ul li .amarillo {
    border: 2px solid #ffcf11 ;
    border-radius: 20px;
    transition: 0.30s;
    text-align: center;
    width:100px;
}

.menu ul li .rojo {
    border: 2px solid #f2163e ;
    border-radius: 20px;
    transition: 0.30s;
    text-align: center;
    width:100px;
}
 
.menu ul li .ar {
    border: 2px solid #f2163e ;
    background-color: #f2163e;
    border-radius: 20px;
    transition: 0.30s;
    color: #fff;
}

.menu ul li .ar:hover {
    color: #ffcf11;
    font-size: 18px;
    background-color: #f2163e;
    transition: 0.30s;
 }

.menu ul li .ar span {
    color: #ffcf11; 
    background-color: #f2163e;
 }

.footer nav{
    background-color: #fff;
    color: #f2163e;
    font-size: 14px;
    text-align: center;
    padding: 13px;
    border-top: 2px solid #f2163e;
    margin-top: 100px;
}
 
.footer nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 150px;
 }
 
.footer nav ul li {
    display: inline-block;
    margin-right: 10%;
 }
 
.footer nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
 }
 
.footer nav ul li a:hover {
    text-decoration: underline 2px #f2163e;
 }
 

.login-box {
    margin-top: 100px;
    position: relative;
    left: 55%;
    width: 600px;
    height: 450px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 10px 20px #000000;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #f2163e;
    text-align: center;
    margin-bottom: 50px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
margin-top: 30px;
width: 100%;
padding: 10px 0;
padding-bottom: 0;
font-size: 16xpx;
color: #000000;
margin-bottom: 30px;
border: none;
border-bottom: 1px solid #000000;
outline: none;
background: transparent;
transition: 0.30s;
}

.login-box .user-box input:focus {
 border-bottom: 1px solid #f2163e;
 font-size: 18px;
 transition: 0.30s;
}

.login-box .user-box a{
    position: relative;
    font-size: 13px;
    color: #f2163e;
    top: -20px;
    left: 170px;
    text-decoration: none;
}
.login-box .user-box a:hover{
    position: relative;
    font-size: 13px;
    color: #f2163e;
    text-decoration: underline 1px #f2163e;
}
.login-box .user-box input:focus label,
.login-box .user-box input:valid label {
    top: -20px;
    left: 0;
    color: #ff0202;
    font-size: 12px;
}
.login-box form b {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #f40303;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 50px;
    letter-spacing: 3px;
}

.login-box b:hover {
    background: #ff0000;
    color: #ffcf11;
    border-radius: 5px;
    box-shadow: 0 0 5px #ff0000,
                0 0 25px #ff0000,
                0 0 50px #ff0202,
                0 0 100px #ff0000;
}
.user-box a{
    margin-left: 190px;
}

 