body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #ffffff;
}

.menu {
    background-color: #ffffff;
    padding: 10px;
    border-bottom: 2px solid #ffcf11;

}

.menu img {
    width: 200px;
    position: absolute;
    top: 2%;
    left: 8%;
}

.menu ul {
    color: #000000;
    font-size: 15px;
    text-align: end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li {
    display: inline-block;
    margin-right: 10%;
}

.menu ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.menu ul li .rojo:hover {
    color: #fff;
    background-color: #f2163e;
    transition: 0.30s;
}

.menu ul li .amarillo:hover {
    color: #ffffff;
    background-color: #ffcf11;
    transition: 0.30s;
}

.menu ul li .amarillo {
    border: 2px solid #ffcf11;
    border-radius: 20px;
    transition: 0.30s;
    text-align: center;
    width:100px;
}

.menu ul li .rojo {
    border: 2px solid #f2163e;
    border-radius: 20px;
    transition: 0.30s;
    text-align: center;
    width:100px;
}

.menu ul li .ar {
    border: 2px solid #f2163e;
    background-color: #f2163e;
    border-radius: 20px;
    transition: 0.30s;
    color: #fff;
    display: flex;
    align-items: center;
}

.menu ul li .ar:hover {
    color: #ffcf11;
    font-size: 18px;
    background-color: #f2163e;
    transition: 0.30s;
}

.menu ul li .ar span {
    color: #ffcf11;
    background-color: #f2163e;
}

.footer nav {
    margin-top: 45px;
    background-color: #fff;
    color: #f2163e;
    font-size: 14px;
    text-align: center;
    padding: 13px;
    border-top: 2px solid #f2163e;
}

.footer nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 150px;
}

.footer nav ul li {
    display: inline-block;
    margin-right: 10%;
}

.footer nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.footer nav ul li a:hover {
    text-decoration: underline 2px #f2163e;
}


.actividades_del_dia {
    margin-top: 80px;
    background-color: #f5f5f5;
    box-shadow: 0 10px 20px #000000;
    box-sizing: border-box;
    width: 45%;
    height: 50%;
    position: absolute;
    top: 15%;
    left: 50%;
    text-align: center;
    font-size: 45px;
    border-radius: 10px;
    padding: 1%;
}


.actividades_del_dia span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.actividades_del_dia hr {
    border: #ffcf11 solid 1px;
}


.comercial {
    width: 350px;
    position: fixed;
    left: 52%;
    top: 31%;
    margin-top: 40px;
}

.actividadcen{
    margin-left: 380px;
    font-size: 42px;
}


.actividades_del_dia p{
    font-size: 25px;
    text-align: center;
    margin-left: 410px;
}
.actividades_del_dia a{
    display: inline-block;
    padding: 10px 20px;
    color: #f40303;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 3px;
    margin-left: 420px;
}
.actividades_del_dia a:hover{
    background: #ff0000;
    color: #ffcf11;
    border-radius: 5px;
    box-shadow: 0 0 5px #ff0000,
                0 0 25px #ff0000,
                0 0 50px #ff0202,
                0 0 100px #ff0000;
}

.mas_informacion {
    background-color: #df2727;
    color: #fff;
    padding: 15px 35px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 400px;
  }
  
  .mas_informacion:hover {
    background-color:#ffcf11;
  }
  
  .mas_informacion:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #337ab7;
  }
  .calendar{
    margin-top: 100px
  }
  
  